<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <!-- 광고 ID 권한 거부 -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />
    
    <application
        android:label="케어브이"
        android:name="${applicationName}"
        android:icon="@mipmap/carev_icon"
        android:roundIcon="@mipmap/carev_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
            
        <!-- 광고 ID 수집 비활성화 -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        
        <!-- 토스페이먼츠 결제를 위한 패키지 -->
        <!-- 카드사 -->
        <package android:name="com.kbcard.kbkookmincard" />
        <package android:name="com.hyundaicard.appcard" />
        <package android:name="com.shinhancard.smartshinhan" />
        <package android:name="com.hanaskcard.paycla" />
        <package android:name="kr.co.samsungcard.mpocket" />
        <package android:name="com.bccard.bcsmartapp" />
        <package android:name="com.lottemembers.android" />
        <package android:name="com.lotte.lottecard" />
        <package android:name="nh.smart.card" />
        <package android:name="kr.co.citibank.citimobile" />
        <package android:name="com.wooricard.smartapp" />
        
        <!-- 은행 -->
        <package android:name="com.kbstar.kbbank" />
        <package android:name="com.shinhan.sbanking" />
        <package android:name="com.hanabank.ebk.channel.android.hananbank" />
        <package android:name="com.wooribank.smart.npib" />
        <package android:name="com.kbankwith.smartbank" />
        <package android:name="com.kakaobank.channel" />
        <package android:name="viva.republica.toss" />
        <package android:name="com.knbank.opensmart" />
        <package android:name="com.ibk.neobanking" />
        <package android:name="com.sc.danb.scbankapp" />
        <package android:name="com.kebhana.hanapush" />
        
        <!-- 간편결제 -->
        <package android:name="com.nhn.android.search" />
        <package android:name="com.kakao.talk" />
        <package android:name="com.tmoney.tmpay" />
        <package android:name="com.ssg.serviceapp.android.egiftcertificate" />
        <package android:name="com.lguplus.paynow" />
        <package android:name="com.lpoint.wallet" />
        
        <!-- 본인인증 -->
        <package android:name="com.sktelecom.tauth" />
        <package android:name="com.kt.ktauth" />
        <package android:name="com.lguplus.mobile.certify" />
        <package android:name="com.dream.pass" />
        
        <!-- 기타 결제 관련 -->
        <package android:name="kvp.jjy.MispAndroid320" />
        <package android:name="com.kftc.bankpay.android" />
        <package android:name="com.TouchEn.mVaccine.webs" />
        <package android:name="com.ahnlab.v3mobileplus" />
        <package android:name="com.samsung.android.spay" />
        <package android:name="com.samsung.android.spaylite" />
        
        <!-- Intent scheme을 처리할 수 있는 브라우저 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="intent" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
