<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>케어브이</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>케어브이</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<!-- 카드사 -->
			<string>kbcard</string>
			<string>hyundaicard</string>
			<string>shinhancard</string>
			<string>hanacard</string>
			<string>samsungcard</string>
			<string>bccard</string>
			<string>lottecard</string>
			<string>nhcard</string>
			<string>citicard</string>
			<string>wooricard</string>
			<!-- 은행 -->
			<string>kbbank</string>
			<string>shinhan</string>
			<string>hana</string>
			<string>woori</string>
			<string>nhbank</string>
			<string>ibk</string>
			<string>keb</string>
			<string>kakaobank</string>
			<string>tossbank</string>
			<!-- 간편결제 -->
			<string>kakaopay</string>
			<string>naverpay</string>
			<string>payco</string>
			<string>ssgpay</string>
			<string>lpay</string>
			<string>toss</string>
			<!-- 토스페이먼츠 관련 -->
			<string>supertoss</string>
			<string>tosspayments</string>
			<!-- 본인인증 -->
			<string>tauthlink</string>
			<string>ktauthexternalcall</string>
			<string>upluscorporation</string>
			<!-- 기타 결제 관련 -->
			<string>ispmobile</string>
			<string>hdcardappcardansimclick</string>
			<string>citimobileapp</string>
			<string>cloudpay</string>
			<string>lguthepay-xpay</string>
			<string>lottesmartpay</string>
			<string>com.wooricard.wcard</string>
			<string>com.samsung.mpocket</string>
			<string>vguard</string>
			<string>smshinhanansimclick</string>
			<string>scardcertiapp</string>
			<string>lottesmartpay</string>
			<string>liivbank</string>
		</array>
	</dict>
</plist>
